*{ margin: 0; padding: 0; box-sizing: border-box; }

body{ font-size: 14px; color: #333333; }

.test{ outline: solid 1px red; }

.fs-18px{ font-size: 18px; }

.app{
    display: flex;
    padding: 10px;
}

#stage{
    width:      228px;
    padding:    4px;
    display:    flex;
    background: #e8e8e8;
}

.divide{
    display:       block;
    border-bottom: solid 1px #dddddd;
    height:        0;
    margin:        10px 0;
}

.bar{
    padding:           10px;
    flex:              auto;
    background:        #ffffff;
    border:            solid 4px #e8e8e8;
    border-right-width: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; }

.clearfix:after {
    clear: both; }
.g0{
    margin:     1px;
    background: #ddd;
    width:      20px;
    height:     20px;
    display:    block;
    float: left;
}

.g1{
    float: left;
    margin:     1px;
    background: #ff9016;
    width:      20px;
    height:     20px;
    display:    block;
}

.btn{
    display:       block;
    padding:       10px;
    color:         #ffffff;
    border-radius: 4px;
    outline:       none;
    background:    #ff9016;
    border:        solid 1px #dddddd;
}

.btn:active{
    background: #ff8600;
}
